<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Votação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Sistema de Votação</h1>
 

    <div class="candidate-container">
        {% for candidate in candidates %}
        <div class="candidate-card">
            <img src="{{ url_for('static', filename='images/' + candidate.image) }}" alt="{{ candidate.name }}">
            <h2>{{ candidate.name }}</h2>
            <form method="POST" action="{{ url_for('vote') }}">
                <input type="hidden" name="candidate_id" value="{{candidate.id}}">
                <button type="submit">Votar</button>
            </form>
        </div>
        {% endfor %}
    </div>


</body>
</html>

