.contentBackground {
    background-color: #0d0d0e;
    height: 93%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentContainer {
    border-radius: 16px;
    width: 80%;
    height: 75%;
    background-color: #131517;
    text-align: center;
}

.contentTitle {
    margin-top: 0.5em;
    font-weight: 400;
    font-size: 2em;
    color: white;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}